h1{
   font-size: 80px;
    font-weight: 800;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: black;
}
button{
    width: 250px;
    height:80px;
    background-color: blue;
    color: white;
}
button:hover{
    background-color: green;
}